<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fengming.mapper.BookMapper">
    <!--
        //查询全部图书
        List<Book> getAll();
    -->
    <select id="getAll" resultType="book">
        select bookid id,bookname name
        from book
    </select>
</mapper>
